// Specific CSS for your home-page


.info-home {
  margin-top: 24vh;
  a {
    // margin-top: 16vh;
    margin: 16vh auto;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    background: linear-gradient(#0e274b, #6C90A8);
    border: 3px solid linear-gradient(#0e274b,#6C90A8);
    display: block;
    width: fit-content;
  }
}


.point_dinterrogation {
  position: absolute;
  top: 30px;
  right: 30px;
}

.btn-pale-blue{
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  background: #6C90A8;
  border: 3px solid #6C90A8;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
