// Specific CSS for your home-page


.info-home {
  margin-top: 24vh;
  a {
    // margin-top: 16vh;
    margin: 7vh auto;
    border-radius: 30px;
    color: white;
    padding: 10px 20px;
    background: $degrade;
    border: 3px solid #40128B;
    display: block;
    width: fit-content;


    box-shadow: 0 0 0 0 rgb(56, 56, 56);

    animation: pulse 4s infinite cubic-bezier(0.66, 0, 0, 1)  }
    @keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
}



.point_dinterrogation {
  position: absolute;
  top: 30px;
  right: 30px;
}

.btn-pale-blue{
  border-radius: 30px;
  color: white;
  padding: 10px 20px;
  background: #6C90A8;
  border: 3px solid #6C90A8;
  justify-content: space-around;
  align-items: center;
  display: flex;
}
