.img {
  max-width:100%;
  max-height:100%;
}

.trans-back {
  background-color: #000;
  opacity: 0.7;
  /* border: black 1px solid; */
  color: white;
  box-shadow: rgba(0, 0, 0, 0.6) 0px 3px 8px;
  border-radius: 15px;
  width: auto;
  /* height: 100%; */
  /* display: table; */
  padding-left: 10px;
  padding-right: 10px;
  /* margin-top: 5px; */
  /* display: flex; */
  /* flex-direction: row; */
  /* justify-content: center; */
  margin-top: 20px;
  /* width: fit-content; */
  height: auto;
  /* display: table; */
  margin-bottom: 55px;

  h3 {
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: xx-large;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 5px;
    padding-bottom: 10px;
  }

  h1 {
    text-align: center;
    padding: 5px;
  }

  p {
    font-size: larger;
    padding: 10px;
  }
}


.challenge-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  padding: 1%;

    a {
      text-align: center;
    }
  }

  .f-size-index {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: x-large;
}

.image-design {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}

.font-size-chall {
  font-size: large;
}

.show-content-challenges {
  display: flex;

}
