.img {
  max-width:100%;
  max-height:100%;
}

.trans-back {
  background-color: #000;
  opacity: .5;
  color: white;
  border-radius: 15px;
  width: auto;
  height: auto;
}

.challenge-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  padding: 1%;
}

.image-design {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
}
