<div class="container">
<% @userchallenges.each do |challenge| %>

  <div class="trans-back m-2 challenge-content">
<%= link_to challenge.challenge.title, user_challenge_path(challenge), class:"text-decoration-none" %>
  </div>

<% end %>


</div>
