<div class="container img">
<h1>Bienvenu</h1>
<h3> Voici les challenges que nous te recommandons d'après ton design humain !</h3>
<% @userchallenges.each do |challenge| %>

  <div class="trans-back m-2 challenge-content">
<%= link_to challenge.challenge.title, user_challenge_path(challenge), class:"text-decoration-none" %>
  </div>

<% end %>


</div>
