<div class="container font-size-chall">
    <div class="text-white m-2 pb-4">
      <h3> Tes challenges de Manifestor ✨ </h3>
    </div>
        <% @userchallenges.each do |challenge| %>
      <div class="trans-back m-3 challenge-content p-2 font-family: inherit;">
        <%= link_to challenge.challenge.title, user_challenge_path(challenge), class:"text-decoration-none text-black f-size-index" %>
      </div>
        <% end %>
</div>
