<div class="container img">
  <div class="show-content-challenges">
    <div class="trans-back m-4">
      <h1 class="challenge-content">Challenge <%= @userchallenge.challenge.title %></h1>
    </div>
      <div class="trans-back">
        <p><%= @userchallenge.challenge.description %></p>
        <p><%= @userchallenge.status %></p>
          <% UserChallenge::STATUSES.each do |status| %>
            <%= link_to status, change_status_user_challenge_path(@userchallenge, status: status), data: { turbo_method: :patch} %>
          <% end %>
      </div>
  </div>
</div>
