<h1> ici le design de la personne</h1>

<%= @user_design.user.username %>
<%= @user_design.design.name_type %>
<%= image_tag "https://imagizer.imageshack.com/img924/8678/xdEd92.png", class:"image-design" %>
