<div class="navbar-lewagon fixed-bottom">
    <% if current_user %>
      <%# Si le user a deja un design on le redirige dessus %>
      <% if current_user.user_design %>
        <%= link_to user_design_path(current_user.user_design), class: "navbar-brand" do %>
          <i class="fa-solid fa-moon"></i>
          <p>Mon design</p>
        <% end %>
      <% else %>
        <%# sinon on redirige vers le formulaire %>
        <%= link_to design_form_path, class: "navbar-brand" do %>
          <i class="fa-solid fa-moon"></i>
          <p>Mon design</p>
        <% end %>
      <% end %>
    <% end %>

    <%= link_to user_challenges_path, class: "navbar-brand" do%>
      <i class="fa-solid fa-star"></i>
      <p>Mes challenges</p>
    <% end %>

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-user-group"></i>
      <p>Mes amis</p>
     <% end %>
    </div>
</div>
