<div class="navbar-lewagon fixed-bottom">
    <%= link_to user_design_path(current_user.user_design), class: "navbar-brand" do %>
      <i class="fa-solid fa-moon"></i>
      <p>Mon design</p>
    <% end %>

    <%= link_to user_challenges_path, class: "navbar-brand" do%>
      <i class="fa-solid fa-star"></i>
      <p>Mes challenges</p>
    <% end %>

    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fa-solid fa-user-group"></i>
      <p>Mes amis</p>
     <% end %>
    </div>
</div>
