<div class="container-home">
  <%# debut point dinterrogation  %>
  <div class="point_dinterrogation">
    <%= link_to informations_path do%>
    <i class="fa-solid fa-question fa-fade fa-2xl" style="color: white"></i>
    <% end %>
  </div>
  <%# fin point dinterrogation  %>

  <div>
    <div class="text-block">
      <h1 class="LUE">  Let Us Elevate </h1>
      <p class="slogan"> Les je sont faits... Et tout va bien !</p>
    </div>

    <%# div class="link-to">
    <%# ici chevron pour switcher sur ecran inscription #%>
      <%= link_to "Découvrir son design humain", form_design_path, class:"btn btn-gradient" %>
  </div>
</div>
