
  <div class="container">
  <%# debut point dinterrogation  %>
    <div class="informations">
    <img width="64" height="64" src="https://img.icons8.com/flat-round/64/question-mark.png" alt="question-mark"/>
    <%#= link_to, information_path("")%>
    </div>
    </div>
  <%# fin point dinterrogation  %>

  <%# debut ellipse %>
  <div class = "ellipses"></div>
    <div class = "ellipse-27"></div>
    <div class= "ellipse-29"></div>
  <%# fin ellipse %>


     <%# ici chevron pour switcher sur ecran inscription #%>
     <img width="48" height="48" src="https://img.icons8.com/color/48/chevron-right.png" alt="chevron-right"/>
   <%# <div class="link-to">
  <%# link_to , inscription_path #%>


  <div class="text-block">

    <div class="container">

      <div>
      <h1 class="title">  Let Us Elevate </h1>
            <div class="text-align : left">
      <p class="les-je-sont-faits-et-tout-va-bien inder-normal-white-17px" >
    </div>

    </div>
  </div>
</div>
