
  <div class="container">
    <div class="info-home">
      <h1 class="LUE">  Let Us Elevate </h1>
      <p class="slogan"> Les je sont faits...Et tout va bien !</p>
      <%= link_to "Découvrir", form_design_path, class:"text-decoration-none" %>
    </div>
  </div>
