<div class="container">
  <%# debut point dinterrogation  %>
  <div class="point_dinterrogation">
    <%= link_to informations_path do%>
      <i class="fa-solid fa-question"></i>
    <% end %>
  </div>
  <%# fin point dinterrogation  %>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

    <div class="text-block">
      <h1 class="LUE">  Let Us Elevate </h1>
      <p class="slogan"> les je sont faits et tout va bien</p>
    </div>

    <%# ici chevron pour switcher sur ecran inscription #%>
    <div class="link-to">
      <%= link_to user_designs_path do%>
      <i class="fa-solid fa-chevron-right"></i>
      <% end %>
    </div>
</div>
