<h1>informations</h1>


<%# début de la page 4 %>
<div class="information_1">
<h2>Qu’est-ce que le Design Humain?</h2>
<p>Le design humain est un outil de connaissance de soi. Il permet de découvrir son plan de fonctionnement énergétique unique au niveau individuel</p>
</div>
<%# fin de la page 4 %>


<%# début de la page 5 %>

<div class="information_2">
<h2>Outil de connaissance inédit</h2>
<p>Pluridisciplinaire dans sa structure, le design humain se base sur:</p>
<ul>
<li>astrologie</li>
<li>le système des chakras</li>
<li>le système de la Kabbale</li>
<li>la physique quantique et génétique</li>
</ul>
</div>
<%# fin de la page 5 %>


<%# début de la page 6 %>

<div class="information_3">
<h2>Votre charte design humain</h2>
<p>Afin de bénéficier de  charte design humain, on vous demande de répondre à quelques questions rapidement.Promis c’est rapide !</p>
</div>
<%# fin de la page 6 %>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


<i class="fa-solid fa-feather-pointed information_btn_1"></i>
<i class="fa-solid fa-feather-pointed information_btn_2"></i>
<i class="fa-solid fa-feather-pointed information_btn_3"></i>
