.ellipse-27 {
   background-image: url("./ellipse-27.png");
   height: 276px;
   position: absolute;
   top: 50vh;
   width: 296px;
 }


// .ellipses {
//   margin: 0 auto;
// }


// .ellipse-29 {
//   background-image: url("./ellipse-29.png");
//   height: 288px;
//   // position: absolute;
//   // top: 50vh;
//   // left: 50vw;
//   width: 288px;
// }
