// .information_1 {

// }

// .information_btn_1 {

// }

.information_btn_2 {
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}

.information_btn_3 {
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}

.information_2 {
  display: none;
}

.information_3 {
display: none;
}


#title{
  position: relative;
  left: 40%;
  top: 177px;
  margin-top: 18px;
  margin-left: -256px;
  color: beige;
}
