// .information_1 {

// }

// .information_btn_1 {

// }

.information_btn_2 {
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}

.information_btn_3 {
  opacity: 0.5;
  // &:hover {
  //   opacity: 1;
  // }
}

.information_2 {
  display: none;
}

.information_3 {
display: none;
}

.point_dinterrogation a {
  margin-left: 295px;
  margin-top: 20px;
}
