
.information_1{
  h2{
    color: moccasin;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
  }
  p {
    color: moccasin;
    font-weight: bold;
    font-size: xx-medium;
    text-align: center;
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
  }
}

.information_2{
  h2{
    color: moccasin;
    font-weight: bold;
    font-size: xx-large;
    text-align: center;
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
  }
  p, li{
    color: moccasin;
    font-weight: bold;
    font-size: xx-medium;
    text-align: center;
    display: flex;
    margin-top: 0px;
    justify-content: space-around;
    align-items: center;
  }
}

}


#title{
  position: relative;
  left: 40%;
  top: 177px;
  margin-top: 18px;
  margin-left: -256px;
  color: beige;
}
