@import url("https://fonts.googleapis.com/css?family=Figtree:800|Inter:500,400|Inder:400");

.les-je-sont-faits-et-tout-va-bien{
left: 48px;
letter-spacing: 0;
line-height: 32px;
position: absolute;
top: 244px;
width: 262px;
}
