.navbar-lewagon {
  // background: linear-gradient(to bottom right,#40128B, #c2a4f3);
  background: $degrade;
  // opacity: 0.75;
  // border-radius: 50px;
  // margin: 10px 20px;
  padding: 10px 0;
  display: flex;
  justify-content: space-around;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.navbar-brand {
  font-size: 30px;
  text-align: center;
  color: white;
  p{
    font-size: 10px;
    margin: 0;
  }
}

.background-nav{
  background-color: #6C90A8;
}



.top-nav {
  border-radius: 5px;
}

.navbar-lewagon-top {

  // height: 10vh; <=== dropdown cassé avec
  opacity: 0.75;
  height: auto;
  justify-content: space-between;
  background: $degrade;
  color:white;
  // border-bottom-right-radius: 16px;
  // border-bottom-left-radius: 16px;
}

.navbar-lewagon-top .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon-top .navbar-brand-top img {
  width: 40px;
}
