@import url("https://fonts.googleapis.com/css?family=Figtree:800|Inter:500,400|Inter:400");

.title {
-webkit-text-stroke: 1px var (--plum);
left: 50px;
letter-spacing: 0;
line-height: 32px;
text-align: center;
color: currentColor;
height: 205px;
width: 252 px;
}

#title{
  position: relative;
  left: 40%;
  top: 177px;
  margin-top: 18px;
  margin-left: -256px;
  color: beige;
}


#p{
  color: floralwhite;
  position: relative;
  left: 40%;
  top: 177px;
  margin-top: 18px;
  margin-left: -256px;
}

.LUE {
  color: white;
  font-weight: bold;
  font-size:larger;
  text-align: center;
  display: flex;
  margin-top: 0px;
  justify-content: space-around;
  align-items: center;
}


.slogan {
  color: white;
  font-size:medium;
  font-weight: lighter;
  opacity: 3.3;
  margin-top: 5px;
  margin-bottom: 40px;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.link-to {
  text-align: center;
  font-size: xx-large;
  color: floralwhite;
  font-size: large;
}

.btn-gradient {
  color: white;
  padding: 10px 20px;
  border-radius: 26px;
  background: #6C90A8;
  border: 1px solid #6C90A8;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  display: flex;

}

.container {
  width: 390px;
  height: 844px;
}
