@import url("https://fonts.googleapis.com/css?family=Figtree:800|Inter:500,400|Inter:400");

.title {
-webkit-text-stroke: 1px var (--plum);
left: 50px;
letter-spacing: 0;
line-height: 32px;
text-align: center;
color: currentColor;
height: 205px;
width: 252 px;
}

#title{
  position: relative;
  left: 40%;
  top: 177px;
  margin-top: 18px;
  margin-left: -256px;
}
