@import url("https://fonts.googleapis.com/css?family=Figtree:800|Inter:500,400|Inter:400");

.title {
-webkit-text-stroke: 1px var (--plum);
left: 50px;
letter-spacing: 0;
line-height: 32px;
position: absolution;
text-align: center;
color: white;
top: 205px;
width: 252 px;
}

.h1 {
  font-size: calc(1.375rem + 1.5vw);
  text-align: center


}
